@font-face {
  font-family: 'opensanskata';
  src: url("./assets/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'opensanskata', sans-serif;
}

section {
  border: 1px solid slategrey;
  background-color: white;
  position: relative;
}

h1, .h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: normal;
}
h2 {
  font-size: 1.625em;
  line-height: 1.153em;
  font-weight: normal;
}
h3 {
  font-size: 1.375em;
  line-height: 1.136em;
  font-weight: normal;
}
h4 {
  font-size: 1.125em;
  line-height: 1.111em;
  font-weight: normal;
}

.display-block img {
  display: block;
}

.display-inline > * {
  display: inline-block;
  vertical-align: middle;
}

.medium-image img {
  width: 150px;
  height: 150px;
}

.small-image img {
  width: 100px;
  height: 100px;
}

.simple-box {
  display: block;
  padding: 1em;
  background-color: tomato;
  width: 5em;
  height: 5em;
}
.simple-box img {
  width: 100%;
  height: 100%;
}
.simple-box--bordered {
  border: 1em solid royalblue;
}
.simple-box--margined {
  margin: 1em;
}
.simple-box--small {
  box-sizing: border-box;
}

.box {
  background-color: tomato;
  text-indent: -1000px;
  display: inline-block;
  width: 5em;
  height: 5em;
  vertical-align: bottom;
}

.nolist {
  padding-left: 0;
  list-style-type: none;
}

.circle {
  background-color: dodgerblue;
  text-indent: -1000px;
  display: inline-block;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  vertical-align: bottom;
}

.outline {
  display: inline-block;
  width: 10em;
  height: 10em;
  border: 3px solid royalblue;
  border-radius: 50%;
  text-indent: -1000px;
  box-sizing: border-box;
  vertical-align: bottom;
}

.lawn {
  display: block;
  background-color: seagreen;
  width: 20em;
  height: 20em;
  position: relative;
}

.ball {
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: yellow;
}

.lawn-override {
  position: static;
}

.ball--br {
  position: absolute;
  bottom: 0;
  right: 0;
}
